@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');
body {
  background: #70d5d0;
  color: #248A87;
  font: 100% 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration:none;
  color: #248A87;
  background-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cssload-loader-inner {
  bottom: 0;
  height: 210px;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  background: #70d5d000;
  z-index: 100;
}

.cssload-cssload-loader-line-wrap-wrap {
  animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 175px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  width: 350px;
}
.cssload-loader-line-wrap {
  border: 14px solid transparent;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 350px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
  -o-animation-delay: -57.5ms;
  -ms-animation-delay: -57.5ms;
  -webkit-animation-delay: -57.5ms;
  -moz-animation-delay: -57.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
  -o-animation-delay: -115ms;
  -ms-animation-delay: -115ms;
  -webkit-animation-delay: -115ms;
  -moz-animation-delay: -115ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
  -o-animation-delay: -172.5ms;
  -ms-animation-delay: -172.5ms;
  -webkit-animation-delay: -172.5ms;
  -moz-animation-delay: -172.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
  -o-animation-delay: -230ms;
  -ms-animation-delay: -230ms;
  -webkit-animation-delay: -230ms;
  -moz-animation-delay: -230ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
  -o-animation-delay: -287.5ms;
  -ms-animation-delay: -287.5ms;
  -webkit-animation-delay: -287.5ms;
  -moz-animation-delay: -287.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
  border-color: rgb(255, 0, 0);
  height: 315px;
  width: 315px;
  top: 25px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
  border-color: rgb(255, 255, 0);
  height: 266px;
  width: 266px;
  top: 49px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
  border-color: rgb(0, 255, 0);
  height: 217px;
  width: 217px;
  top: 74px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
  border-color: rgb(0, 255, 255);
  height: 168px;
  width: 168px;
  top: 98px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
  border-color: rgb(0, 0, 255);
  height: 119px;
  width: 119px;
  top: 123px;
}




@keyframes cssload-spin {
  0%, 15% {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  transform: rotate(360deg);
}
}

@-webkit-keyframes cssload-spin {
  0%, 15% {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
}




/* BACKGROUND */
#background-wrap {
    bottom: 0;
  left: 0;
  /* padding-top: 50px; */
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;

  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;

  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;

  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;

  -webkit-transform: scale(0.94);
  transform: scale(0.9);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  -webkit-transform: scale(0.55);
  transform: scale(0.55);
}
.x6 {
  -webkit-animation: animateCloud 40s linear infinite;
  animation: animateCloud 40s linear infinite;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.x7 {
  -webkit-animation: animateCloud 15s linear infinite;
  animation: animateCloud 15s linear infinite;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}
.x8 {
  -webkit-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  -webkit-transform: scale(0.45);
  transform: scale(0.45);
}
.x9 {
  -webkit-animation: animateCloud 40s linear infinite;
  animation: animateCloud 40s linear infinite;
  -webkit-transform: scale(0.35);
  transform: scale(0.35);
}
.x10 {
  -webkit-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20 linear infinite;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

/* OBJECTS */

.cloud {
  background: #fff;
  background: -webkit-gradient(linear,  left top, left bottom,  color-stop(bottom, toto),  color-stop(5%, #fff),to(#f1f1f1));
  background: linear-gradient(toto bottom,  #fff 5%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
  border-radius: 100px;

  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 70px;
  position: relative;
  width: 220px;
}

.cloud img {
  width: 20%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  border-radius: 80px;

  height: 80px;
  left: 50px;
  top: -50px;
  width: 80px;
}

.cloud:before {
  border-radius: 100px;

  width: 100px;
  height: 100px;
  right: 16px;
  top: -58px;
}
.stage{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 20px;
  top: calc(50% - 100px);
  z-index: 9999;
}
.p{
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  cursor: pointer;
  width: 100%;
  background: #70d5d0;
  border-radius: 10px;
  letter-spacing: 5px;
}
.div{
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 200px;
  height: 40px;
  margin-top: 4%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.p:hover{
  background: white;
}
.p a:hover{
  color: #548420;
}
.div:nth-child(odd){
  -webkit-transform: perspective(300px) rotateY(45deg);
          transform: perspective(300px) rotateY(45deg);
  -webkit-box-shadow: -2px 2px 7px gray;
          box-shadow: -2px 2px 7px gray;
}
.div:nth-child(even){
  -webkit-transform: perspective(300px) rotateY(-45deg);
          transform: perspective(300px) rotateY(-45deg);
  -webkit-box-shadow: 2px 2px 7px gray;
          box-shadow: 2px 2px 7px gray;
}
.div:hover{
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  background: white;
  color: black;
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
}

.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 250px 0;
  position: relative;
}

.title {
	text-align: center;
  color: #FFF;
  margin-bottom: 150px;
}

.greeting {
	background-image: url(https://files.ub.ua/goods/goods-photos/59/713626_PP-005-1Cvetnoydym330h330mm-08060432.gif);
  background-size: cover;
  background-position: right center;
	color: transparent;
	-webkit-background-clip: text;
	        background-clip: text;
	text-transform: uppercase;
  font-size: 4em;
  font-weight: bold;
	margin: 10px 60px;
}
p.greeting {
  font-size: 30px;
}

.cloud-title{
  background-image:url(/image/c_h1-2.png);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: contain;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 323px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -100px;
}
.cloud-title h1 {
  font-size: 3rem;
  font-weight: bold;
}
.bg-cloud_top {
  background: url(/image/s_14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 980px;
  margin-bottom: -500px;
}
.bg-cloud_bottom {
  background: url(/image/s_14.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;
  margin-top: -590px;
}

.about {
  color:#248A87;
  position: relative;
  text-align: center;
  background-size: cover;
  left: 0;
}
.container {
  background-color: white;
  border-radius: 56px;
  box-shadow: inset -3px -4px 20px 0px #89d7ed, inset -20px -28px 15px 10px #fff;
}
.about-me {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
}

.scills {
  background: url(/image/clouds-one.png);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.8;
}

.garadient {
  font-size: 0.9em;
  font-weight: bold;
  background: linear-gradient(135deg, #248A87 20%, #32560A 50%, #A6622C 70%, #530A25 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.3em 0.6em ;
  /* border: 3px solid transparent;
  border-image: linear-gradient(135deg, #248A87 20%, #32560A 50%, #A6622C 70%, #530A25 100%);
  border-image-slice: 1; */

  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: font-size 500ms ease-in-out;
  transition: font-size 500ms ease-in-out;
}
@-webkit-keyframes animate {
  0% {
  background-position: 0 200px;
  }
  100% {
  background-position: 200px 0;
  }
}
@keyframes animate {
  0% {
  background-position: 0 200px;
  }
  100% {
  background-position: 200px 0;
  }
}

/* .garadient {
  background-image: url(https://files.ub.ua/goods/goods-photos/59/713626_PP-005-1Cvetnoydym330h330mm-08060432.gif);
  background-size: cover;
  background-position: right center;
	color: transparent;
	-moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 0.9em;
  font-weight: bold;
} */

.scills:nth-child(2) {
  position: absolute;
  left: 93%;
  top: 37%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(3) {
  position: absolute;
  left: 93%;
  top: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(4) {
  position: absolute;
  left: 40%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(5) {
  position: absolute;
  left: 60%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(6) {
  position: absolute;
  left: 88%;
  top: 27%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(7) {
  position: absolute;
  left: 35%;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(8) {
  position: absolute;
  left: 83%;
  top: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(9) {
  position: absolute;
  left: 19%;
  top: 26%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.scills:nth-child(10) {
  position: absolute;
  left: 62%;
  top: 73%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery {
  color:#248A87;
  /* margin-top: 200px; */
  position: relative;
  /* background-image: url(/image/clouds_3.png); */
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  left: 0;
}
.gallery-sites {max-width: 700px;margin: 0 auto;}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
.pic-container {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}
.parent {
  position: relative;
  width: 218px;
  height:218px;
  margin: 0 auto;
}
.wrap-card {
  color: #67A09E;
  width: 163px;
  height: 109px;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  -webkit-transition: width 250ms 200ms, height 750ms, -webkit-transform 750ms;
  transition: width 250ms 200ms, height 750ms, -webkit-transform 750ms;
  transition: transform 750ms, width 250ms 200ms, height 750ms;
  transition: transform 750ms, width 250ms 200ms, height 750ms, -webkit-transform 750ms;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.wrap-card.open {
  width: 360px;
  height: 398px;
  -webkit-transition: width 750ms, height 250ms 200ms, -webkit-transform 750ms;
  transition: width 750ms, height 250ms 200ms, -webkit-transform 750ms;
  transition: transform 750ms, width 750ms, height 250ms 200ms;
  transition: transform 750ms, width 750ms, height 250ms 200ms, -webkit-transform 750ms;
}
.wrap-card div.content-card {
  position: absolute;
  margin: auto;
  left: -9999px;
  right: -9999px;
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 716px;
  -webkit-transform: scale(0.43);
          transform: scale(0.43);
  height: 800px;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0.0, 0.2, 1);
  transition: transform 750ms cubic-bezier(0.4, 0.0, 0.2, 1), -webkit-transform 750ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.wrap-card.open .content-card {
          -webkit-transform: scale(0.5);
          transform: scale(0.5);
          -moz-transform: scale(0.5);
          -ms-transform: scale(0.5);
          -o-transform: scale(0.5);
}
.wrap-card .img-card {
  height: 325px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.thumb-1 .img-card {
  background-image: url(/image/bootstrap\ site\ -\ Google\ Chrome\ 2019-10-05\ 08.56.08.png);
}
.thumb-2 .img-card {
  background-image: url(/image/site_pportfolio\ -\ Google\ Chrome\ 2019-09-26\ 08.54.00.png);
}
.thumb-3 .img-card {
  background-image: url(/image/Anna\ Kuzminova\ -\ Google\ Chrome\ 2019-09-26\ 17.31.27.png);
}
.thumb-4 .img-card {
  background-image: url(/image/generator_pass.png);
}
.thumb-5 .img-card {
  background-image: url(/image/calculator.png);
}
.thumb-6 .img-card {
  background-image: url(/image/redactor.png);
}
.thumb-7 .img-card {
  background-image: url(/image/stroy.png);
}

.text-card {
  opacity: 0.7;
  margin-top: 20px;
  padding: 30px;
}

.title-card {
  /* width: 80%; */
  font-size: 2rem;
  text-align: center;
}
.title-card a:hover {
  color: #548420;
}
.wrapper-gallary-card img {
  width: 630px;
}
.subtitle-card {
  font-size: 1.5rem;
}


.contact {
  color:#248A87;
  position: relative;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
}

.forest {
  background-image:url("/image/Forest.png");
  z-index: 6;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: top center;
  position: relative;
}
.forest-cont{
  position: absolute;
  left: 40%;
  bottom: 18%;
}
i {
  margin-right: 10px;
}
.block-social {
  font-size: 2em;
}
.contact a {
  color:#7F1F43;
}
.contact a:hover {
  color:#1A3760;
}


#baloon {
  position:absolute;
  width: 100%;
  height: 412px;
  top: 0;
  left: 0%;
  background: url('/image/baloon.png') no-repeat top right;
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 6s;
  -webkit-animation-duration: 6s;
  animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
  -webkit-animation-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes slideUp {
  0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
  }
  10%{
      -webkit-transform: translateY(-8%);
              transform: translateY(-8%);
  }
  20%{
      -webkit-transform: translateY(4%);
              transform: translateY(4%);
  }
  30%{
      -webkit-transform: translateY(-4%);
              transform: translateY(-4%);
  }
  40%{
      -webkit-transform: translateY(2%);
              transform: translateY(2%);
  }
  50% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
  }
  60%{
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  70%{
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  90%{
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes slideUp {
  0% {
      -webkit-transform: translateY(100%);
              transform: translateY(100%);
  }
  10%{
      -webkit-transform: translateY(-8%);
              transform: translateY(-8%);
  }
  20%{
      -webkit-transform: translateY(4%);
              transform: translateY(4%);
  }
  30%{
      -webkit-transform: translateY(-4%);
              transform: translateY(-4%);
  }
  40%{
      -webkit-transform: translateY(2%);
              transform: translateY(2%);
  }
  50% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
  }
  60%{
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  70%{
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  90%{
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

#butterfly_blue {
  position: absolute;
  width: 350px;
  height: 312px;
  bottom: 5%;
  left: 60%;
  /* z-index: 1; */
  -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5);
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: butterfly_blue 5s linear infinite;
  animation: butterfly_blue 5s linear infinite;
}
#leftwing {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 312px;
  background-image: url(/image/629260.png);
  background-repeat: no-repeat;
  -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  -webkit-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-animation: leftwing 0.2s linear infinite;
  animation: leftwing 0.2s linear infinite;
}
#rightwing {
  position: absolute;
  left: 175px;
  top: 0px;
  width: 200px;
  height: 312px;
  background-image: url(/image/629260.png);
  background-repeat: no-repeat;
  -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  -webkit-transform-origin: inherit;
  transform-origin: inherit;
  -webkit-animation: rightwing 0.2s linear infinite;
  animation: rightwing 0.2s linear infinite;
}
@-webkit-keyframes butterfly_blue {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
}
@keyframes butterfly_blue {
  from {
    -webkit-transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
            transform: rotate3d(0, 1, 0, 0deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  25% {
    -webkit-transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
            transform: rotate3d(0, 1, 0, -90deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  50% {
    -webkit-transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
            transform: rotate3d(0, 1, 0, -180deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  75% {
    -webkit-transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
            transform: rotate3d(0, 1, 0, -270deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
  to {
    -webkit-transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
            transform: rotate3d(0, 1, 0, -360deg) scale3d(0.5, 0.5, 0.5) translate3d(-150px, 300px, 0);
  }
}
@-webkit-keyframes rightwing {
  from {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes rightwing {
  from {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
            transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
            transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 100deg);
  }
  to {
    -webkit-transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
            transform: rotateX(90deg) translate3d(-178px, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@-webkit-keyframes leftwing {
  from {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
}
@keyframes leftwing {
  from {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
            transform: rotateX(90deg) rotate3d(0, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
            transform: rotateX(90deg) rotate3d(0, 1, 0, 80deg);
  }
  to {
    -webkit-transform: rotateX(90deg) rotate3d(0, 1, 0, 00deg);
            transform: rotateX(90deg) rotate3d(0, 1, 0, 00deg);
  }
}


@media (min-width: 2540px) {

  .x1 {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}

  .x2 {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}

  .x3 {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

  .x4 {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    -moz-transform: scale(1.9);
    -ms-transform: scale(1.9);
    -o-transform: scale(1.9);
}

  .x5 {
    -webkit-transform: scale(1.55);
    transform: scale(1.55);
    -moz-transform: scale(1.55);
    -ms-transform: scale(1.55);
    -o-transform: scale(1.55);
}
  .x6 {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
}
  .x7 {
    -webkit-transform: scale(1.85);
    transform: scale(1.85);
    -moz-transform: scale(1.85);
    -ms-transform: scale(1.85);
    -o-transform: scale(1.85);
}
  .x8 {
    -webkit-transform: scale(1.45);
    transform: scale(1.45);
    -moz-transform: scale(1.45);
    -ms-transform: scale(1.45);
    -o-transform: scale(1.45);
}
  .x9 {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
}
  .x10 {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}

  .home {
    padding: 400px 0;
  }

  .greeting {
    font-size: 6em;
  }
  p.greeting {
    font-size: 50px;
  }

  .bg-cloud_top {
    background: url(/image/s_14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1180px;
    margin-bottom: -630px;
  }
  .bg-cloud_bottom {
    background: url(/image/s_14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1185px;
    margin-top: -534px;
  }

  .container {
    margin: 0 290px;
  }
  .about-me {
    font-size: 2.5rem;
    max-width: 1440px;
  }

  .wrap-card.open {
    width: 573px;
    height: 630px;
  }
  .wrap-card div.content-card {
    height: 780px;;
  }
  .wrap-card.open .content-card {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }


  .title-card {
    font-size: 2.7em;
    text-align: center;
  }
  .forest-cont {
    bottom: 5%;
  }
  .subtitle-card {
    font-size: 2em;
  }

  .block-social {
    font-size: 4em;
  }
  .block-adress {
    font-size: 2em;
  }
  .block-contacts {
    font-size: 2em;
  }
}
@media (min-width: 1920px) and (max-width: 2539px) {

  .x1 {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -o-transform: scale(1.8);
}

  .x2 {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}

  .x3 {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

  .x4 {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    -moz-transform: scale(1.9);
    -ms-transform: scale(1.9);
    -o-transform: scale(1.9);
}

  .x5 {
    -webkit-transform: scale(1.55);
    transform: scale(1.55);
    -moz-transform: scale(1.55);
    -ms-transform: scale(1.55);
    -o-transform: scale(1.55);
}
  .x6 {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
}
  .x7 {
    -webkit-transform: scale(1.85);
    transform: scale(1.85);
    -moz-transform: scale(1.85);
    -ms-transform: scale(1.85);
    -o-transform: scale(1.85);
}
  .x8 {
    -webkit-transform: scale(1.45);
    transform: scale(1.45);
    -moz-transform: scale(1.45);
    -ms-transform: scale(1.45);
    -o-transform: scale(1.45);
}
  .x9 {
    -webkit-transform: scale(1.35);
    transform: scale(1.35);
    -moz-transform: scale(1.35);
    -ms-transform: scale(1.35);
    -o-transform: scale(1.35);
}
  .x10 {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    -moz-transform: scale(1.6);
    -ms-transform: scale(1.6);
    -o-transform: scale(1.6);
}

  .home {
    padding: 400px 0;
  }

  .greeting {
    font-size: 6em;
  }
  p.greeting {
    font-size: 50px;
  }

  .bg-cloud_top {
    background: url(/image/s_14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1180px;
    margin-bottom: -630px;
  }
  .bg-cloud_bottom {
    background: url(/image/s_14.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1185px;
    margin-top: -534px;
  }

  .container {
    margin: 0 290px;
  }
  .about-me {
    font-size: 2.5rem;
    max-width: 1440px;
  }

  .wrap-card.open {
    width: 573px;
    height: 630px;
  }
  .wrap-card div.content-card {
    height: 780px;;
  }
  .wrap-card.open .content-card {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }


  .title-card {
    font-size: 2.7em;
    text-align: center;
  }

  .subtitle-card {
    font-size: 2em;
  }
  .forest-cont {
    position: absolute;
    left: 35%;
    bottom: 5%;
  }
  .block-social {
    font-size: 4em;
  }
  .block-adress {
    font-size: 2em;
  }
  .block-contacts {
    font-size: 2em;
  }
}

@media (max-width: 1918px) and (min-width: 1439px) {
  .container {
    margin: 0 220px;
  }
  .forest-cont {
    bottom: 7%;
  }
}

@media (max-width: 1250px)  {
  .div:nth-child(odd){
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .div:nth-child(even){
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  .stage {
    flex-direction: row;
    left: 5%;
    right: 5%;
    top: 0;
  }
  .div {margin-right: 40px;}
  .div:last-child {margin-right: 0;}


  .title-card {
    font-size: 2em;
    text-align: center;
  }

  .subtitle-card {
    font-size: 1.5em;
  }
  .forest-cont {
    bottom: 7%;
  }
}
