@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700&display=swap&subset=cyrillic,cyrillic-ext');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: rgb(143,198,187);
  background: linear-gradient(45deg, rgba(143,198,187,1) 0%, rgba(143,198,187,1) 25%, rgba(134,103,193,1) 25%, rgba(134,103,193,1) 50%, rgba(134,103,193,1) 50%, rgba(134,103,193,1) 75%, rgba(143,198,187,1) 75%, rgba(143,198,187,1) 100%);
  font-family: 'EB Garamond', serif;
  line-height: 1.5;
}
.wrapper {
  background-color: #FFFFFF;
  margin: 120px;
  padding: 0 100px;
  }
header{
  display: flex;
  flex-direction: row;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
    align-items: center;
}
.header__block-photo{
  width: 50%;
}
.header__block-about_me {
  width: 50%;
  padding-top: 50px;
}
.title {
  text-transform: uppercase;
  color: #614582;
}
.title:first-child {
  font-size: 20px;
}
.firstname {
  font-size: 50px;
  color: #77C79D;
  font-weight: bold;
}
.lastname {
  font-size: 66px;
  font-weight: bold;
}
.position {
  font-size: 23px;
  color: #77C79D;
}
.line{
  border: none; 
  background-color: #414042; 
  color: #414042; 
  height: 2px; 
}
.square {
  width: 450px;
  height: 450px;
  background: #795DA8;
  position: absolute;
  left: 120px;
  top:120px
}
.greeting {
  color: white;
  font-size: 64px;
  transform: rotate(90deg);
  position: absolute;
  left: 110px;
  top: 325px;
  text-transform: uppercase;
}
.photo {
  position: relative;
  /* left: 300px;
  top: 170px; */
  z-index: 100;
  margin: 53px 0 0 70px;
}
img {
  max-width: 350px;
}
.icon {
  fill: currentColor;
  height: 1rem;
  overflow: visible;
}
a {
  color: #614582;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.links {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
}
.links__block {
  color: #614582;
  margin-right: 30px;
}
.links__block:last-child {
  margin-right: 0;
}
.link-item {
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  margin-bottom: 10px;
}
.link-item:last-child {
  margin-bottom: 0;
}
.link-item svg {
  margin-right: 5px;
}
.block_text_aboutMe {
  padding-top: 50px;
}
main {
  display: flex;
  flex-direction: row
  -webkit-justify-content: space-between;
          justify-content: space-between;
}
.block_text {
  flex-basis: 45%;
  padding-bottom: 60px;
}
h2 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: #614582;
  line-height: 64px;
}
.job {
  border-left: 6px solid #614582;
  position: relative;
}
.job-title-container {
  padding: 0 0 5px 100px;
}
.job-company, .institute, .traning-title {
  font-weight: bold;
  line-height: 1.2em;
}
.data-job {
  position: absolute;
  background-color: #614582;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  line-height: 100px;
  top: 3px;
  left: -13%;
}
.icon_hs {
  fill: #58c79a;
  width: 5rem;
}
.svg-flex {
  flex-flow: row wrap;
  flex-grow: 1;
  display: flex;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  align-items: center;
  align-content: space-around;
}







@media (max-width: 1319px) {
  .wrapper {
    background-color: #FFFFFF;
    margin: 120px;
    padding: 0 100px;
    }
  header{
    display: flex;
    flex-direction: row;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
      align-items: center;
  }
  .header__block-photo{
    width: 50%;
  }
  .header__block-about_me {
    width: 50%;
    padding-top: 50px;
  }
  .title {
    text-transform: uppercase;
    color: #614582;
  }
  .title:first-child {
    font-size: 20px;
  }
  .firstname {
    font-size: 50px;
    color: #77C79D;
    font-weight: bold;
  }
  .lastname {
    font-size: 66px;
    font-weight: bold;
  }
  .position {
    font-size: 23px;
    color: #77C79D;
  }
  .line{
    border: none; 
    background-color: #414042; 
    color: #414042; 
    height: 2px; 
  }
  .square {
    width: 450px;
    height: 450px;
    background: #795DA8;
    position: absolute;
    left: 120px;
    top:120px
  }
  .greeting {
    color: white;
    font-size: 64px;
    transform: rotate(90deg);
    position: absolute;
    left: 110px;
    top: 325px;
    text-transform: uppercase;
  }
  .photo {
    position: relative;
    /* left: 300px;
    top: 170px; */
    z-index: 100;
    margin: 53px 0 0 70px;
  }
  img {
    max-width: 350px;
  }
  .icon {
    fill: currentColor;
    height: 1rem;
    overflow: visible;
  }
  a {
    color: #614582;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .links {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
  }
  .links__block {
    color: #614582;
    margin-right: 30px;
  }
  .links__block:last-child {
    margin-right: 0;
  }
  .link-item {
    display: flex;
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    margin-bottom: 10px;
  }
  .link-item:last-child {
    margin-bottom: 0;
  }
  .link-item svg {
    margin-right: 5px;
  }
  .block_text_aboutMe {
    padding-top: 50px;
  }
  main {
    display: flex;
    flex-direction: row
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }
  .block_text {
    flex-basis: 45%;
    padding-bottom: 60px;
  }
  h2 {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    color: #614582;
    line-height: 64px;
  }
  .job {
    border-left: 6px solid #614582;
    position: relative;
  }
  .job-title-container {
    padding: 0 0 5px 100px;
  }
  .job-company, .institute, .traning-title {
    font-weight: bold;
    line-height: 1.2em;
  }
  .data-job {
    position: absolute;
    background-color: #614582;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
    top: 3px;
    left: -13%;
  }
  .icon_hs {
    fill: #58c79a;
    width: 5rem;
  }
  .svg-flex {
    flex-flow: row wrap;
    flex-grow: 1;
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    align-items: center;
    align-content: space-around;
  }
}

@media (max-width:1024px) {
  .wrapper {
    margin: 100px;
    padding: 0 80px;
  }
  .header__block-about_me {
    padding-top: 30px;
  }
  .title:first-child {
    font-size: 18px;
  }
  .firstname {
    font-size: 42px;
  }
  .lastname {
    font-size: 50px;
  }
  .position {
    font-size: 20px;
  }
  .square {
    width: 350px;
    height: 350px;
    left: 100px;
    top: 100px;
  }
  .greeting {
    font-size: 52px;
    transform: rotate(90deg);
    left: 110px;
    top: 255px;
  }
  img {
    max-width: 250px;
  }
  .links {
    margin-top: 10px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .links__block {
    margin-right: 0;
  }
  .link-item {
    margin-bottom: 0;
  }
  .block_text_aboutMe {
    padding-top: 20px;
  }
  .job-title-container {
    padding-left: 65px;
  }
  .data-job {
    top: 27px;
    left: -18%;
  }

  .icon_hs {
    width: 4rem;
  }
}

@media (max-width:768px) {
  .header__block-photo{
    width: 100%;
  }
  .header__block-about_me {
    width: 100%;
    padding-top: 70px;
  }
  main {
    display: flex;
    flex-direction: column;
      }
  .data-job {
    top: 3px;
    left: -13%;
  }
  .icon_hs {
    width: 5rem;
  }
}

@media (max-width:425px) {
  .wrapper {
    margin: 60px;
    padding: 0 40px;
    }
  .header__block-about_me {
    padding-top: 40px;
  }
  .square {
    width: 250px;
    height: 250px;
    left: 60px;
    top: 60px;
  }
  .greeting {
    font-size: 42px;
    transform: rotate(90deg);
    left: 40px;
    top: 153px;
  }
  .photo {
    margin: 24px 0 0 48px;
  }
  img {
    max-width: 200px;
  }
  .title:first-child {
    font-size: 16px;
  }
  .firstname {
    font-size: 28px;
  }
  .lastname {
    font-size: 36px;
  }
  .position {
    font-size: 18px;
  }
  
  .job-title-container {
    padding-left: 50px;
  }
  .data-job {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
    top: 70px;
    left: -17%;
  }
  .icon_hs {
    width: 5rem;
  }
}

@media (max-width:375px) {
  .square {
    width: 200px;
    height: 200px;
  }
  .greeting {
    left: 30px;
    top: 130px;
  }
  .photo {
    margin: 24px 0 0 48px;
  }
  img {
    max-width: 150px;
  }
  .title:first-child {
    font-size: 16px;
  }
  .firstname {
    font-size: 20px;
  }
  .lastname {
    font-size: 28px;
  }
  .position {
    font-size: 18px;
  }
  .links {
    font-size: 12px;
  }
  h2 {
    font-size: 28px;
  }
  .job-title-container {
    padding-left: 50px;
  }
  .data-job {
    top: 100px;
    left: -22%;
  }
  .icon_hs {
    width: 2rem;
  }
}



















































































@media print {
  /* здесь будут стили для печати */
  body {
    font-size: 14px;
  }
  header{
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 0.5cm;
  }
  .wrapper {
    margin: 30px;
    padding: 0 10px;
  }
  .square {
    display: none;
  }
  .greeting {
    /*color: black;*/
    /*font-size: 32px;*/
    /*position: absolute;*/
    /*left: 320px;*/
    /*top: 120px;*/
    /*transform: rotate(0deg);*/
    /*text-transform: uppercase;*/
    display: none;
  }
  .photo {
    position: absolute;
    left: 40px;
    top: 95px;
  }
  img {
    max-width: 150px;
  }
  .header__block-photo{
    width: 30%;
  }
  .header__block-about_me {
    width: 70%;
    /*padding-top: 50px;*/
  }
  .title {
    text-transform: uppercase;
    color: #212121;
    margin-top: 25px;
  }
  .title:first-child {
    font-size: 14px;
  }
  .firstname {
    font-size: 32px;
    color: #212121;
    font-weight: bold;
  }
  .lastname {
    font-size: 32px;
    font-weight: bold;
  }
  .position {
    font-size: 14px;
    color: #212121;
  }
  .line{
    border: none;
    background-color: #414042;
    color: #414042;
    height: 2px;
  }
  .icon {
    fill: currentColor;
    height: 1rem;
    overflow: visible;
  }
  .links {
    /*margin: 5px 0 10px 0;*/
    font-size: 14px;
    display: flex;
  }
  .links__block {
    color: #212121;
    /*margin-right: 15px;*/
  }
  .links__block:last-child {
    margin-right: 0;
  }
  .link-item {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: baseline;
    margin-bottom: 5px;
  }
  .link-item:last-child {
    margin-bottom: 0;
  }
  .link-item svg {
    margin-right: 5px;
  }

  main {
    display: flex;
  }
  .block_text {
   padding-bottom: 0.5cm;
  }
  h2 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #212121;
    line-height: 36px;
  }
  .traning-title {
    padding-bottom: 5px;
  }
  .job-title-container {
    position: relative;
    left: 115px;
    top: -95px;
    padding-right: 10px;
  }

  .job-company, .institute, .traning-title {
    font-weight: bold;
    line-height: 1.2em;
    /* padding: 2px 0; */
  }

  .data-job {
    background-color: #4B5362;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    line-height: 100px;
  }

  .line_vertical {
    /*border: none;*/
    /*background-color: #4B5362;*/
    /*color: #4B5362;*/
    /*height: 5px;*/
    /*transform: rotate(90deg);*/
    /*position: relative;*/
    /*left: -155px;*/
    display: none;
  }
  /* .line_vertical-first {
    top: 190px;
  }

  .line_vertical-second {
    top: 25px;
  } */

  .icon_hs {
    fill: #1E3D2D;
    width: 2rem;
    margin: 1px;
  }

  .svg-flex {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: baseline;
  }
  br {
    display: none;
  }
}



